name: syncToGitee

on:
  push:
    branches:
      - main

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Mirror Github to Gitee
        uses: wearerequired/git-mirror-action@v1
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_TOKEN }}
        with:
          source-repo: "git@github.com:xpinus/xrepo.git"
          destination-repo: "git@gitee.com:xyf97/xrepo.git"
